[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-cov = "*"

[packages]
csci_utils = {git = "ssh://git@github.com:yigiterbas/cookiecutter_yigit.git",ref = "master"}

[requires]
python_version = "3.7"
