[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-cov = "*"

[packages]
csci_utils = {git = "https://github.com/csci-e-29/2019fa-csci-utils-yigiterbas.git",ref = "master"}

[requires]
python_version = "3.7"
